*.o
.idea/
pipex
.DS_Store
MakeLists.txt
make-build-debug/
s_frbt.sh
ipex.dSYM/
res.txt
test.txt
CMakeLists.txt
check.txt
cmake-build-debug/
input.txt
is_frbt.sh
new.txt
out.txt
output
outut
pipex.dSYM/
qwe.txt
